/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Lora", serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.7rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

.header-burger {
  padding: 2rem;
  width: 4rem;
  position: fixed;
  animation: slideFromUp 2s none ease-out;
  z-index: 5;
}

.nav {
  position: fixed;
  top: 0%;
  width: 50%;
  height: 70%;
  left: -100%;
  background-color: #C3A6A0;
  box-shadow: 0rem 0rem 1rem 0rem #C3A6A0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  transition: 0.9s ease-in;
}
.nav-cross {
  padding: 2rem;
  width: 4rem;
  position: fixed;
  display: none;
}
.nav-ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #262220;
  font-weight: bold;
}
.nav-link:hover {
  color: #F7F1F0;
  transition: 0.3s ease-out;
}

.header-burger.active {
  display: none;
}

.nav.active {
  left: 0;
  transition: 0.9s ease-out;
}
.nav-cross.active {
  display: initial;
  top: 0%;
  left: 29%;
  animation: slideFromUp 2s none ease-out;
}

@keyframes slideFromUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    translate: translateY(0px);
  }
}
.header {
  min-height: 100vh;
  background-color: #F7F1F0;
}

.header-description {
  height: 100vh;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideFromLeft 2s none ease-out;
  position: relative;
}
.header-description::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  border-bottom: 2px solid #A15C38;
}
.header-description__title--underline {
  font-weight: bold;
  font-size: 3.5rem;
  background-image: linear-gradient(120deg, #fa9c84 0%, #A15C38 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  transition: background-size 0.3s ease-in;
  background-position: 0% 88%;
}
.header-description__title--underline:hover {
  background-size: 100% 88%;
}
.header-description__paragraph {
  margin-bottom: 5%;
}
.header-description__photo {
  height: 30%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem #A15C38);
}
.header-description .photo {
  clip-path: ellipse(33% 50%);
  border: none;
  object-fit: cover;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    translate: translateX(0px);
  }
}
.skills {
  min-height: 100vh;
  padding: 2rem;
  background-color: #F7F1F0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.skills::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  border-bottom: 2px solid #A15C38;
}

.skills-presentation {
  display: flex;
  flex-direction: column;
}
.skills-presentation__title {
  margin-top: 2rem;
  align-self: center;
  width: fit-content;
  font-weight: bold;
  background-position: 0 100%;
  background-image: linear-gradient(120deg, #fa9c84 0%, #A15C38 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  transition: background-size 0.3s ease-in;
}
.skills-presentation__title:hover {
  background-size: 100% 88%;
}
.skills-presentation__paragraph {
  margin: 2rem 0;
}

.skills-card {
  position: relative;
}
.skills-card__list {
  margin: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  column-count: 2;
  column-fill: auto;
  position: relative;
  backdrop-filter: blur(5px);
}
.skills-card__list li {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-card__list img {
  width: 45%;
  margin-bottom: 10px;
}
.skills-card__square:nth-child(1) {
  position: absolute;
  left: -12px;
  top: -12px;
  z-index: 0;
}
.skills-card__square:nth-child(2) {
  position: absolute;
  right: -12px;
  bottom: -12px;
  z-index: 0;
}
.skills-card .glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}

.projects {
  min-height: 100vh;
  padding: 2rem;
  background-color: #F7F1F0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.projects::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  border-bottom: 2px solid #A15C38;
}
.projects h2 {
  margin-top: 2rem;
  align-self: center;
  width: fit-content;
  font-weight: bold;
  background-position: 0 100%;
  background-image: linear-gradient(120deg, #fa9c84 0%, #A15C38 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  transition: background-size 0.3s ease-in;
}
.projects h2:hover {
  background-size: 100% 88%;
}

.project {
  padding: 2rem 0rem;
  margin-bottom: 4rem;
}
.project__description {
  margin-bottom: 2rem;
}
.project__techno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.project__techno span {
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  border: 2px solid rgb(209, 186, 186);
}
.project__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__actions a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.6rem;
  color: #F7F1F0;
  display: block;
  margin-bottom: 1rem;
  background-color: #262220;
  border-radius: 3%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}
.project__actions a:hover {
  background-color: #C3A6A0;
  color: #262220;
}

.slider {
  height: 18rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.slider__img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s;
  filter: grayscale(1);
}
.slider__img:hover {
  filter: initial;
  transition: 0.3s ease-in;
}
.slider__img--current {
  opacity: 1;
  z-index: 1;
}
.slider__btn {
  position: relative;
  z-index: 2;
  font-weight: bold;
  border-radius: 20%;
  font-size: 2rem;
  border: 1px solid #A15C38;
  background-color: #F7F1F0;
  color: #C3A6A0;
}
.slider__btn.btn-previous {
  margin-right: 40%;
}
.slider__btn.btn-next {
  margin-left: 40%;
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F1F0;
  padding: 2rem;
}
.contact .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.contact .title h2 {
  margin-top: 2rem;
  width: fit-content;
  font-weight: bold;
  background-image: linear-gradient(120deg, #fa9c84 0%, #A15C38 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  transition: background-size 0.3s ease-in;
  background-position: 0% 88%;
}
.contact .title h2:hover {
  background-size: 100% 88%;
}

.contact-card {
  position: relative;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-card__square:nth-child(1) {
  position: absolute;
  left: -20px;
  top: -12px;
  z-index: 0;
}
.contact-card__square:nth-child(2) {
  position: absolute;
  right: -20px;
  bottom: -12px;
  z-index: 0;
}
.contact-card .glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}
.contact-card form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.form-content input {
  margin: 2rem 0;
  border: 2px solid #C3A6A0;
  border-radius: 5px;
  height: 4rem;
  background-color: transparent;
}
.form-content textarea {
  margin: 2rem 0;
  border: 2px solid #C3A6A0;
  border-radius: 5px;
  height: 10rem;
  background-color: transparent;
}
.form-content label {
  font-size: 1.7rem;
  padding-top: 2rem;
  width: 90%;
}
.form-content ::placeholder {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 1.2rem;
}

button.submit {
  border-radius: 5px;
  padding: 1.5rem;
  width: 40%;
  font-weight: bold;
  background-color: #262220;
  color: #F7F1F0;
  border: none;
  margin: 2rem;
  transition: 0.2s ease-in-out;
}
button.submit:hover {
  cursor: pointer;
  background-color: #C3A6A0;
  color: #262220;
}

/*# sourceMappingURL=style.css.map */
