@import "./base/reset";
@import "./base/base";
@import "./utils/variables";
@import "./utils/maps";
@import "./utils/mixins";
@import "./layouts/nav";
@import "./layouts/header";


// Section skills

.skills{
    min-height: 100vh;
    padding: 2rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position : relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            right: 20%;
            border-bottom: 2px solid $color-decoration;
        }
}

.skills-presentation{
    display: flex;
    flex-direction: column;

    &__title{
        margin-top: 2rem;
        align-self: center;
        width: fit-content;
        font-weight: bold;
        background-position: 0 100%;
        @include underlineEffect;
            &:hover {
                background-size: 100% 88%;
            }
    }

    &__paragraph{
        margin: 2rem 0;
    }

}


.skills-card{
    position : relative;
    
 
        &__list{
            margin: 2rem 1rem;
            z-index: 0;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3); 
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            z-index: 4;
            column-count: 2;
            column-fill: auto;
            position : relative;
            backdrop-filter: blur(5px);
            

                li{
                    padding: 2rem;
                    text-align: center;
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    width: 45%;
                    margin-bottom: 10px;
                }
        }

        &__square:nth-child(1){
            position: absolute;
            left: -12px;
            top: -12px;
            z-index: 0;
        }

        &__square:nth-child(2){
            position: absolute;
            right: -12px;
            bottom: -12px;
            z-index: 0;
        }

        .glass{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
        }

    }
    

// Section projects

.projects{
    min-height: 100vh;
    padding: 2rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position : relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            right: 20%;
            border-bottom: 2px solid $color-decoration;
        }

    h2{
        margin-top: 2rem;
        align-self: center;
        width: fit-content;
        font-weight: bold;
        background-position: 0 100%;
        @include underlineEffect;
            &:hover {
                background-size: 100% 88%;
            }

    }
}

.project{
    padding: 2rem 0rem;
    margin-bottom: 4rem;

        &__description{
            margin-bottom: 2rem;
        }
        &__techno{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
                span{
                    padding :1rem;
                    margin-right: 2rem;
                    margin-bottom:3rem;
                    font-size: 1.4rem;
                    background-color: rgba(255, 255, 255);
                    border-radius: 5%;
                    border: 2px solid rgb(209, 186, 186); 
                }
            }
        
            &__actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    text-decoration: none;
                    padding : 1rem;
                    font-size: 1.6rem;
                    color: $color-primary;
                    display: block;
                    margin-bottom: 1rem;
                    background-color: $color-button-text;
                    border-radius: 3%;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    transition: 0.2s ease-in-out;
                        &:hover{
                            background-color: $color-background;
                            color: $color-button-text;
                        }
                    
                };
            }

        

}


.slider{
    // width: 40%;
    height: 18rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    

}

.slider__img {
    position: absolute;
    // top: 0;
    // left: 0;
    max-width: 100%;
    height: 100%;
    object-fit:contain;
    opacity: 0;
    transition: opacity 1s;
    filter: grayscale(1);
  }

.slider__img:hover{
    filter: initial;
    transition:  0.3s ease-in;

  }
.slider__img--current {
    opacity: 1;
    z-index: 1;
}

.slider__btn {
    position: relative;
    z-index: 2;
    // width: 0%;
    font-weight: bold;
    border-radius: 20%;
    font-size:2rem;
    border: 1px solid $color-decoration;
    background-color: $color-primary;
    color: $color-background;
    // left: 0;
  }

  .slider__btn.btn-previous{
    margin-right: 40%
  }

  .slider__btn.btn-next{
    margin-left: 40%
  }





// Section Contact 

.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    padding:2rem;

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;

            h2{
                margin-top: 2rem;
                width: fit-content;
                font-weight: bold;
            
                @include underlineEffect;
                background-position: 0% 88%;
                    &:hover {
                        background-size: 100% 88%;
                    }  
            }
                   
        }
}

.contact-card{
    position : relative;
    width: 95%;
    height: 95%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    // margin: 2rem;

        form{
            width: 100%;
            height: 100%;
            display:flex ;
            flex-direction: column;
            align-items: center;
            margin: 2rem 1rem;
            // position: relative;
            // z-index: 0;
            z-index: 4;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3); 
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            
        }

        &__square:nth-child(1){
            position: absolute;
            left: -20px;
            top: -12px;
            z-index: 0;
        }

        &__square:nth-child(2){
            position: absolute;
            right: -20px;
            bottom: -12px;
            z-index: 0;
        }

        .glass{
            width: 100%;
            min-height: 100%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0);
        }

    }


.form-content{
    display: flex;
    flex-direction: column;
    width: 95%;

}

input{
                    
        margin: 2rem 0;
        border: 2px solid $color-background;
        border-radius: 5px;
        // width: 100%;
        height: 4rem;
        background-color: transparent; 
        
    }

button.submit{
    border-radius: 5px;
    padding : 1.5rem;
    width: 40%;
    font-weight: bold;
    background-color: $color-button-text;
    color: $color-primary;
    border: none;
    margin: 2rem;
    transition: 0.2s ease-in-out;

        &:hover{
            cursor: pointer;
            background-color: $color-background;
            color: $color-button-text;
        }

}

::placeholder{
    padding-left: 10px;
    padding-top: 2px;
    font-size: 1.2rem;
}

    
textarea{
    margin: 2rem 0;
    border: 2px solid $color-background;
    border-radius: 5px;
    // width: 90%;
    height: 10rem;
    background-color: transparent; 
}

label{
    font-size: 1.7rem;
    padding-top: 2rem;
    // margin: 0 2rem;
    width: 90%;
}
                