.header{
    min-height: 100vh;
    background-color: $color-primary;
    
}

.header-description{
    height: 100vh; 
    padding : 0rem 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideFromLeft 2s none ease-out; 
    position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            right: 20%;
            border-bottom: 2px solid $color-decoration;
        }
    
        &__title--underline{
            font-weight: bold;
            font-size: 3.5rem;
            @include underlineEffect;
            background-position: 0% 88%;
                &:hover {
                    background-size: 100% 88%;
                }     
        }

        &__paragraph{
            margin-bottom: 5%;
        }

        &__photo{
            height :30%;
            display: flex;
            justify-content: center;
            filter: drop-shadow(0.5rem 0.5rem 0.5rem $color-decoration);
        }
       
        .photo{
            clip-path:ellipse(33% 50%);
            border: none;
            object-fit: cover;
           
        }
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        translate: translateX(0px);
    }
}

