.header{
    min-height: 100vh;
    background-color: $color-primary;    
}

.header-description{
    height: 100vh; 
    padding : 0rem 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideFromLeft 2s none ease-out; 
    position: relative;
    @include mobile  {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @include tablet{
        padding : 0rem 4rem;  
    }
    @include laptop{
        padding: 0rem 7rem;
    }
    @include largeScreen{
        margin: 0rem 15rem;
    }
        &::before{
            @include decorationLineBetweenSections; 
        }

        div{
            @include mobile {
                width: 50%;
            }
        }
    
        &__title--underline{
            font-weight: bold;
            font-size: 2.5rem;
            @include underlineEffect;
            background-position: 0% 88%;
            @include tablet{
                font-size:3rem;
            }
            @include largeScreen{
                font-size: 5rem;
            }
                &:hover {
                    background-size: 100% 88%;
                }   
            
        }

        &__paragraph{
            margin-bottom: 5%;
            @include tablet{
                font-size:1.6rem;
            }
        }

        &__photo{
            height :30%;
            display: flex;
            justify-content: center;
            filter: drop-shadow(0.5rem 0.5rem 0.5rem $color-decoration);
            @include laptop{
                height: 32%;
            }
            @include largeScreen{
                height: 35%;
            }
        }
       
        .photo{
            clip-path:ellipse(33% 50%);
            border: none;
            object-fit: cover;
           
        }
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        translate: translateX(0px);
    }
}

