.header-burger{
    @include navIconsPosition;
    animation: slideFromUp 2s none ease-out;
    z-index:5;    
    @include navbarOnTablet{
        display: none;
    }
}

.nav{
    position: fixed;
    top: 0%;
    width: 50%;
    height: 70%;
    left: -100%;
    background-color: $color-background;
    box-shadow: 0rem 0rem 1rem 0rem $color-background ;
    @include navbarLinksPosition;
    z-index: 5;
    transition: 0.9s ease-in;
    @include navbarOnTablet{
        left: 0px;
        width: 100%;
        height: 68px;
    }
        &-cross{
            @include navIconsPosition;
            display: none;
        }

        &-ul{
            height: 50%;
            @include navbarLinksPosition;
            @include navbarOnTablet{
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
            }
        }
        &-link{
            text-decoration: none;
            color: $color-button-text;
            font-weight: bold;
                &:hover{
                    color: $color-primary;
                    transition: 0.3s ease-out;
                }
        }
}


//display navbar 

.header-burger.active{
    display: none; 
    position: relative;
}

.nav{
    &.active{
        left: 0;
        transition: 0.9s ease-out;
    }
    
    &-cross.active{
        display: initial;
        position : absolute;
        top:0%;
        right:-5%;
        animation: slideFromUp 2s none ease-out;  
    }
}

@keyframes slideFromUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        translate: translateY(0px);
    }
}